* {
  padding: 0;
  margin: 0;
}

/* ---- custom scrollbar start ---- */
/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  max-width: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  max-width: 8px;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ---- custom scrollbar end ---- */

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
}

#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 16px; */
  /* line-height: 24px; */
  /* font-weight: 400; */

  min-width: 100%;
  height: 100vh;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app-container {
  max-width: 1400px;
  padding: 2em;
  box-sizing: border-box;

  height: 100%;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

#left-container {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 25;

  display: flex;
  flex-direction: column;
}

#right-container {
  grid-column-start: 7;
  grid-column-end: 25;
  grid-row-start: 1;
  grid-row-end: 25;

  display: flex;
  flex-direction: column;
}

.section-header {
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.section-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

#search-box-container {
  width: 100%;
  min-height: 80px;
  border-bottom: #464646 solid 0.1em;

  display: flex;
}

#search-box {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  flex: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}

#search-results-container {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  padding-top: 1em;
}

.search-result-container {
  margin-bottom: 1.25em;
  display: flex;
  flex-direction: column;
}

.search-result-title {
  font-size: 1.15em;
  margin-bottom: 0.4em;
}

.search-result-lyrics > em {
  font-style: normal;
  background-color: #944bbb;
  color: white;
}

.service-status-container {
  min-height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #464646;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.service-name {
  align-self: center;
  margin-left: 2em;
}

.service-status {
  align-self: center;
  justify-self: center;
}
